<h1>Log In Empleados</h1>

<h2 style="color:blue">@ViewData["MENSAJE"]</h2>

<form method="post">
    <label>User:</label>
    <input type="text" name="username" class="form-control"/>
    <label>Password</label>
    <input type="text" name="password" class="form-control"/>
    <button class="btn btn-dark">
        Log In
    </button>
</form>